<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub Drink Menu</title>
</head>
<body>
    <h1>Welcome to the gitPub drink menu!</h1>
    <ul>
        Drink List
        <% for( let drink in allDrinks) { %>
            <% let drinkName = allDrinks[drink].name %>
            <li><%= drinkName %></li>
        <% } %>
    </ul>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
</body>
</html>